@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
}

/* simple css reset */
*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 150%;
}


.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 800;
}


body {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);

    --major-space: 24px;
    --minor-space: 12px;

    --major-radius: 20px;
    --minor-radius: 10px;

    font-family: 'Figtree', sans-serif;
    font-size: 1rem;

    background-color: var(--yellow);

    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
}

main {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card {
    background-color: var(--black);
    max-width: 384px;
    border-radius: var(--major-radius);

    position: relative;
    transform: translate(8px, 8px);
}

.content {  
    background-color: var(--white);
    border-radius: var(--major-radius);
    border: 1.5px solid var(--black);
    padding: var(--major-space);

    position: relative;
    transform: translate(-8px, -8px); 
    transition: transform 0.1s ease-out;

    display: flex;
    flex-direction: column;
    gap: var(--major-space);
    align-items: flex-start;
}

.content:hover {
    transform: translate(-16px, -16px);
}

/* ILLUSTRATION */
.content > img {
    align-self: center;
    border-radius: var(--minor-radius);
    max-height: 200px;
}

/* TEXT */
.content > .text {
    display: flex;
    flex-direction: column;
    gap: var(--minor-space);

    align-items: flex-start;
}

.text > .tag {
    background-color: var(--yellow);
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 14px;
}

.text > .date {
    font-size: 14px;
}

.text > h1 {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.text > h1:hover {
    color: var(--yellow);
}

.text > p:last-child {
    font-size: 16px;
    color: var(--grey);
}

/* AUTHOR */
.content > .author {
    display: flex;
    align-items: center;
    gap: var(--minor-space);
}

.content > .author > img {
    max-width: 32px;
    aspect-ratio: 1 / 1;
}

.content > .author > .name {
    font-size: 14px;
}

/* ATTRIBUTION */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

